.inboxList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.inboxItem {
  padding: 0 1rem;
}

.inboxLink {
  color: inherit;
  font-family: inherit;
  background-color: inherit;
  width: 100%;
  text-align: start;
}

.inboxLink:hover {
  color: inherit;
  background-color: #d8d8d6;
  border: none;
}

.inboxButton {
  composes: inboxLink;
}

.activeInbox {
  composes: inboxButton;
  background-color: #bcbcba;
}

.inboxName {
  font-weight: 600;
  margin: 0;
}

.inboxNameText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.blockquote {
  margin: 0;
}

.inboxMessage {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.975em;
  font-weight: 500;
  margin: 0;
}

.loaderWrapper {
  padding: 1.5rem;
}
