.inputContainer {
  display: flex;
  align-items: center;
  position: relative;
  gap: 1rem;
}

.label {
  position: absolute;
  padding: 0 0.5em;
  font-weight: 500;
  font-size: clamp(1rem, calc(0.8rem + calc(0.25vw + 0.25vh)), 1.75rem);
}

.input {
  padding: 0.25em 0.5em;
  font-family: inherit;
  border-radius: 4px;
  font-size: clamp(1rem, calc(0.8rem + calc(0.25vw + 0.25vh)), 1.75rem);
}
