.inputContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: min(calc(200px + 10vw), 80vw);
  gap: 1rem;
}

.label {
  position: absolute;
  padding: 0 0.5em;
  font-weight: 500;
  font-size: clamp(1rem, calc(0.8rem + calc(0.25vw + 0.25vh)), 1.75rem);
}

.labelHidden {
  composes: label;
  opacity: 0;
}

.input {
  width: 100%;
  padding: 0.25em 0.5em;
  font-family: inherit;
  border-radius: 4px;
  font-size: clamp(1rem, calc(0.8rem + calc(0.25vw + 0.25vh)), 1.75rem);
}

input:valid:not(:placeholder-shown):not(:focus-visible):not(.error) {
  border: 2.7px solid #93b243;
}

input:invalid:not(:placeholder-shown):not(:focus-visible) {
  border: 2.7px solid #ea642f;
}

.inputContainerWidth {
  width: min(calc(200px + 10vw), 80vw);
}

.input::placeholder {
  font-weight: 500;
}

.inputHidden {
  composes: input;
}

.inputHidden::placeholder {
  opacity: 0;
}

.clientValidation {
  width: 100%;
  display: flex;
  text-align: start;
}

.rule {
  font-weight: 500;
}
