.navList {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.navItem {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #213547;
  transition: 0.1s ease-out;
}

.navItem:hover {
  color: #88ba0a;
  transform: scale(1.05);
  text-shadow: 0 0 5px var(#88ba0a);
}

.navItemLink {
  composes: navItem;
}
